/* MAIN COLOR 1 DARK OLIVE: #5f720f
MAIN COLOR 2  tint #eff1e7
GRAY COLOR: #555 */

/* 
--01 TYPOGRAPHY SYSTEM

- font sizes(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 /86 / 98

- Font Weights
Default: 400
500
600
700

- Line Heights
Default: 1
1.1
paragraph 1.5

- Letter Spacing
-0.5px h1

--02 COLORS

BACKGROUND - #f0eadb;
PRIMARY - MAIN COLOR 1 DARK OLIVE: #5f720f
TINT - MAIN COLOR 2 #eff1e7
SHADES - 
ACCENTS - 
GREY COLORS: 
#666
#555
#333

-- 03 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)

-- 04 BORDER-RADIUS

8px
12px

-- 05 WHITESPACE

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

/////////////////// CSS STARTS /////////////////////////
*/

/*  **************************** */
/* GENERAL STYLES */
/*  ************************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #555;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.6rem;
}

.grid--4-columns {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
  row-gap: 6.4rem;
  column-gap: 6.4rem;
}

.container--heading {
  margin-bottom: 9.6rem;
}

/* Buttons */

.btn,
.btn:link,
.btn:visited {
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 4.8rem;
  text-decoration: none;
  transition: all 0.3s ease;

  /* Only for btn */
  border: none;
  cursor: pointer;
}

.btn--cta:link,
.btn--cta:visited {
  background: #5f720f;
  border: none;
  color: #fff;
}

.btn--cta:hover,
.btn--cta:active {
  background-color: #4c5b0c;
}

.btn--cta---nav:link,
.btn--cta---nav:visited {
  padding: 1.2rem 2.4rem;
}

.btn--info:link,
.btn--info:visited {
  background: white;
  border: 1px solid white;
  color: #555;
}

.btn--info:hover {
  background-color: #eff1e7;
}

/* General Text Elements */

h1,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

h1 {
  color: #333;
  font-size: 6rem;
  line-height: 1.1;
}

.heading-secondary {
  color: #333;
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

h3 {
  color: #333;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.3px;
  margin-bottom: 3.2rem;
}

p {
  font-size: 2rem;
  color: #555;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #4c5b0c;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

ul {
  list-style: none;
}

strong {
  font-weight: 600;
}

strong.price {
  color: #444;
}

/* HELPER CLASS */

.center-text {
  text-align: center;
}
