/* below 1344px (normal laptop screen) */
@media (max-width: 84em) {
}

/* for landscape tablets 75 em (1200px)*/
@media (max-width: 75em) {
  html {
    /*  9px / 16px = 0,56.25 */
    font-size: 56.25%;
  }

  .header {
    padding: 0 2.4rem;
  }

  .nav {
    gap: 3.2rem;
  }

  .hero {
    gap: 6.4rem;
  }

  .testimonials-section {
    padding-left: 3.2rem;
  }
}

/* for portrait tablets 55.5 em (888px) */
@media (max-width: 55.5em) {
  html {
    /* 8px / 16px = 0,5*/
    font-size: 50%;
  }

  .hero {
    flex-direction: column;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content > p {
    margin-bottom: 8rem;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-img-box {
    max-width: 50rem;
    text-align: center;
  }

  /* .feature-icon > img {
    width: 10rem;
    height: 10rem;
  } */
}
