/* MAIN COLOR 1 DARK OLIVE: #5f720f
MAIN COLOR 2 LIGHT OLIVE: #d1ef71
GRAY COLOR: #555 */

/* 
--01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 /86 / 98

- FONT WEIGHTS


- LINE HEIGHTS
Default: 1

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--02 COLORS
BACKGROUND - #f0eadb;
PRIMARY - MAIN COLOR 1 DARK OLIVE: #5f720f
TINT - MAIN COLOR 2 LIGHT OLIVE: #d1ef71
SHADES - 
ACCENTS - 
GREY COLORS: #555
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1;
  color: #333;
  background-color: #f0eadb;
  font-weight: 400;
}

h1 {
  font-weight: 400;
}

.logo {
  width: 200px;
  height: 200px;
}

.hero-photo {
  object-fit: cover;
  width: 400px;
  height: 400px;
}
