/*  ******************** */
/*  ****** 1. HEADER ***** */
/*  ******************** */

/* 
TODO 1 :Zeydem logosunun rengini ana renklerden biri yap. Mesela button veya button-hover rengi. Canva'da arka planı kaldırıp, rengi yapabilirsin.
*/

.header {
  display: flex;
  align-items: center;
  background-color: #eff1e7;
  padding-left: 1.6rem;
  padding-right: 4.8rem;
}

.logo {
  object-fit: cover;
  cursor: pointer;
  height: 10rem;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: #5f720f;
}

/*  ******************** */
/*  ******* 2. MAIN ******* */
/*  ******************** */

/*** 2.1 HERO SECTION ***/

.hero-section {
  background-color: #eff1e7;
}

.hero {
  display: flex;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 9.6rem 1.6rem;
  gap: 9.6rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.hero-content > h1 {
  margin-bottom: 6.4rem;
}

.hero-content > p {
  line-height: 1.5;
  margin-bottom: 9.6rem;
}

.hero-img-box {
  align-self: center;
  flex: 1;
  max-width: 400rem;
  width: 100%;
}

.hero-photo {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.hero-buttons {
  display: flex;
  gap: 4.8rem;
}

/*** 2.2 WHY SECTION ***/

/* TODO 2 :Iconları canva'da renklendirmek?
*/

.why-section {
  padding: 9.6rem 0;
}

.feature-icon {
  max-width: 20rem;
  display: flex;
  justify-content: center;
}

.feature-icon > img {
  display: block;
  object-fit: contain;
  width: 120px;
  height: 120px;
  filter: brightness(0);
  opacity: 65%;
}

.feature-text > p {
  line-height: 1.8;
}

/*** 2.3 ADVICES SECTION ***/

/* 
TODO 3: why section'ın ile products section'ın yerini değiştirme.

TODO 4: why section'ın tasarımının üzerinden geçme. Başka bir şey karşına çıkarsa.
*/

.advices-section {
  padding: 9.6rem 0;
}

.advices-section p {
  line-height: 1.8;
}

.advices-container {
  display: grid;
  padding: 0;
  background-color: #eff1e7;
  grid-template-columns: 1fr 1fr;
}

.advice-text {
  padding: 0 4.8rem;
  align-self: center;
}

.advice-img-box > img {
  max-width: 100%;
  height: auto;
}

#olive-oil-factory-pic {
  filter: grayscale(1);
}

/*** 2.4 PRODUCTS SECTION ***/

/* 
TODO 5:
Ürün kutusundaki check mark'ları icon yapmak veya ai aracılığıyla png yapmak.

TODO 6:
Ürün fotoğraflarının arka planını canva'da kaldırmak veya tek renk yapmak. Product div'inin arkaplan rengi olur.

TODO 7: 
Checkmark'ları responsive'de kaldırmak veya yönetmek. Dengesiz küçülüyorlar.

*/

.products-section {
  padding: 9.6rem 0;
}

/* 2.4.1 Container products heading */

/* 2.4.2 Products container */

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
  gap: 4.8rem;
}

/* 2.4.2.1 product */

.product {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: #cfd5b7;
}

.product:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.olive-oil-image-box {
  width: 100%;
  margin-bottom: 3.2rem;
}

.five-liter-olive-oil-image,
.one-liter-olive-oil-image {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

.product-text {
  margin-bottom: 4.8rem;
  padding: 0 3.2rem;
}

.five-liter-olive-oil-features,
.one-liter-olive-oil-features,
.product-other-specifications-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.five-liter-olive-oil-features > li,
.one-liter-olive-oil-features > li,
.product-other-specifications-list > li {
  font-size: 1.8rem;
}

p.product-title,
p.common-features-title {
  color: #333;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.3px;
  margin-bottom: 3.2rem;
}

.product-feature {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.div--product-buy-btn {
  padding-top: 2.4rem;
  margin-top: auto;
  text-align: center;
}

.div--product-buy-btn > a.btn {
  padding: 1.2rem 4.8rem;
}

/* 2.4.2.2 product-other-specifications */

p.common-features-title {
  font-size: 3rem;
}

.product-specifications-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.checkmark-icon {
  width: 3rem;
  height: 3rem;
  color: #4c5b0c;
}

/*** 2.5 TESTIMONIALS SECTION ***/

.testimonials-section {
  margin-top: 9.6rem;
  padding: 9.6rem 2.4rem 9.6rem 6.4rem;
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  gap: 4.8rem;
  background-color: #eff1e7;
  align-items: center;
}

/* 2.5.1 Testimonials */

.testimonials-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.testimonial-person-photo {
  width: 6.4rem;
  height: 6.4rem;
}

.testimonial-person-photo > img {
  width: 100%;
  border-radius: 50%;
}

.testimonials-text-container > .heading-secondary {
  margin-bottom: 8rem;
}

.person-quote {
  line-height: 1.6;
  font-size: 2rem;
  color: #555;
}

.person-name {
  font-weight: 400;
  font-size: 1.6rem;
  color: #666;
}

/* 2.5.2 Photo Gallery */

.testimonial-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

.testimonial-gallery > figure > img {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  transition: all 0.5s;
}

.testimonial-gallery > figure {
  overflow: hidden;
}

.testimonial-gallery > figure > img:hover {
  transform: scale(110%);
}

/*** 2.5 FREE OIL SECTION ***/

.free-oil-section {
  /*   background-color: #cfd5b7;*/
  max-width: 120rem;
  margin-top: 9.6rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 7fr 3fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-image: linear-gradient(#dfe3cf, #afb987);
  /* temp */
  margin-bottom: 100px;
}

.free-oil-text-container {
  padding: 4.8em 0 4.8em 6.4rem;
}

.free-oil-text-container > p {
  line-height: 1.7;
}

.free-oil-photo > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
