/*  ******************** */
/* HEADER */
/*  ******************** */

.header {
  display: flex;
  align-items: center;
  background-color: #eff1e7;
  padding-left: 1.6rem;
  padding-right: 4.8rem;
}

.logo {
  object-fit: cover;
  cursor: pointer;
  height: 10rem;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: #5f720f;
}

/*  ******************** */
/* MAIN */
/*  ******************** */

/* HERO SECTION */

.hero-section {
  background-color: #eff1e7;
}

.hero {
  background-color: #eff1e7;
  display: flex;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding: 8rem 1.6rem;
  gap: 9.6rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.hero-content > h1 {
  margin-bottom: 6.4rem;
}

.hero-content > p {
  line-height: 1.5;
  margin-bottom: 8rem;
}

.hero-img-box {
  align-self: center;
  flex: 1;
  max-width: 400rem;
  width: 100%;
}

.hero-photo {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.hero-buttons {
  display: flex;
  gap: 3.2rem;
}

/* WHY SECTION */

.why-section {
  padding: 8rem 0;
}

.feature-icon {
  max-width: 20rem;
  display: flex;
  justify-content: center;
}

.feature-icon > img {
  display: block;
  object-fit: contain;
  width: 120px;
  height: 120px;
  filter: brightness(0);
  opacity: 65%;
}

.feature-text > p {
  line-height: 1.8;
}

/* ADVICES SECTION */

.advices-section {
  padding: 8rem 0;
}

.advices-section-intro {
  margin-bottom: 6.4rem;
}

.advices-section p {
  line-height: 1.8;
}

.advices-container {
  display: grid;
  padding: 0;
  background-color: #eff1e7;
  grid-template-columns: 1fr 1fr;
}

.advice-text {
  padding: 0 4.8rem;
  align-self: center;
}

.advice-img-box > img {
  max-width: 100%;
  height: auto;
}

#olive-oil-factory-pic {
  filter: grayscale(1);
}

/* PRODUCTS SECTION */

.products-section {
  padding: 8rem 0;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.product {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
}

.olive-oil-image-box {
  width: 100%;
  margin-bottom: 3.2rem;
}

.five-liter-olive-oil-image,
.one-liter-olive-oil-image {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

.product-text {
  margin-bottom: 4.8rem;
  text-align: center;
}

.five-liter-olive-oil-features,
.one-liter-olive-oil-features,
.product-other-specifications-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-left: 1.2rem;
}

.five-liter-olive-oil-features > li,
.one-liter-olive-oil-features > li,
.product-other-specifications-list > li {
  font-size: 1.8rem;
}

p.product-title,
p.common-features-title {
  color: #333;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.3px;
  margin-bottom: 2.4rem;
  text-align: center;
}

.product-feature {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.div--product-buy-btn {
  margin-top: auto;
  text-align: center;
}

.div--product-buy-btn > a.btn {
  padding: 1.2rem 4.8rem;
}

p.common-features-title {
  margin-bottom: 3.2rem;
}

.product-specifications-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.checkmark-icon {
  width: 3rem;
  height: 3rem;
  color: #4c5b0c;
}
